@page
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.ConfirmEmailModel;
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center">
    <h1 class="heading-1">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" class="mt-2" model="Model.StatusMessage" />
</div>