@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="text-center">
    <h1 class="heading-1">@ViewData["Title"]</h1>

    <p class="mt-2">
        Please check your email to confirm your account.
    </p>
</div>
    

